## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np

## Loading And Overviewing Dataset

In [5]:
data = pd.read_csv("dataset/carsales.csv")

In [6]:
data.head()

     Month  Monthly car sales in Quebec 1960-1968
0  1960-01                                 6550.0
1  1960-02                                 8728.0
2  1960-03                                12026.0
3  1960-04                                14395.0
4  1960-05                                14587.0

In [7]:
## creating a copy of the dataset
df = data.copy()

## Data Preprocessing

In [9]:
## renaming the column names
df.columns = ['months', 'sales']

In [10]:
df.head()

    months    sales
0  1960-01   6550.0
1  1960-02   8728.0
2  1960-03  12026.0
3  1960-04  14395.0
4  1960-05  14587.0